fastapi
uvicorn
passlib[bcrypt]
bcrypt==4.3.0
python-jose
sqlalchemy
pydantic
fastapi-mail
python-multipart
greenlet
alembic
pydantic-settings
python-slugify
qrcode
pillow
redis
requests
apscheduler
firebase-admin
psycopg2-binary
